
.body{

  /* margin: 50px 10px 0px 70px; */
}
.grid{
 grid-template-columns: 1fr 1fr; 
  color: blueviolet;
  display:grid;
  width: 100vh;
}
.title{
  text-align: center;
}

.input{
  padding: 5px;
  text-align: justify;
  width:380px ;
  margin-bottom: 10px;
}
/* .btn-btn{
  font-weight: 100;
  margin: 1px;
  font-size:small;
  padding: 3px;
  border-radius: 8px;
  color: aliceblue;
  border: none;
  background-color:rgba(50, 50, 212, 0.932);
} */
.do{
  margin: 0px;
  padding: 0px;
}
.reg{
  color: red;
}
.or{
  text-align: center;
}
.logo{

  text-align: center;
  margin: 5px;
  border-radius: 100px;
  width:40px;
  margin: 10px;
 

}

.my-title{
  color: red;
}

.nav-item .active{
  border-bottom: 3px solid crimson;
  color: crimson !important;
  font-weight: bold;
}
.vid{
  padding: 15px;
 border-radius: 20px;
  margin: 0px;
}
.back{
  text-decoration: none;
  border-radius: 5px;
  padding: 10px;
  color: beige;
  font-weight: 500;
  box-shadow: 0px 0px 10px 3px rgba(11, 85, 145, 0.767);
}
.not{
  background-color: black;
  /* border: 5px solid rgb(0, 106, 255); */
 box-shadow: 20px 20px lightblue ;
  text-align: center;
 color: aliceblue;

}



.about-us{
 
  height: 120vh;
  width: 100%;
  padding: 30px 0;
  padding-left: 0px;
  background: #ddd;
}
.pic{
  height: auto;
  width:  302px;
}
.about{
  width: 1000px;
  max-width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.text1{
  width: 300px;
}
.text1 h2{
  font-size: 90px;
  font-weight: 600;
  margin-bottom: 10px;

}
.text1 h5{
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;
}
.text2{
  width: 300px;
}
.text2 h2{
  font-size: 90px;
  font-weight: 600;
  margin-bottom: 10px;

}
.text2 h5{
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;
}
span{
  color: #4070f4;
}
.text p{
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1px;
}
.data{
  margin-top: 30px;
}
.hire{
  font-size: 18px;
  background: #4070f4;
  color: #fff;
  text-decoration: none;
  border: none;
  padding: 8px 25px;
  border-radius: 6px;
  transition: 0.5s;
}
.hire:hover{
  background: #000;
  border: 1px solid #4070f4;
}
.im{
  margin-left: 0px;
  margin-right: 40px;
  border: 1px solid black;
  border-radius: 10px;
  height: 200px;
  width: 300px;
 
  margin-bottom: 20px;
  padding: 0px;
}
.about-us{
	background: linear-gradient(to right, #f4bef2, #efaaea);
 color: rgb(0, 0, 0);
}
.grid2{
 
  margin: 10px;
  padding: 0px;
  display: grid;
 grid-template-rows: 1fr 1fr 1fr;
}
.a{
  font-size: xx-large;
  text-align: center;
  margin-top: -30px;
  font-weight: 900;
  padding: 30px;
  
}
.found{

  color: #295e67;
  padding: 10px;
  font-weight: 700;
  font-size: x-large;
  
}
.not{
  background-color: #74c2da;
}
.flower{
  height: 330px;
  width: 400px;
  text-align: center;
  padding: 25px;
  padding-left: 0px;
}

.like{
  
  margin-left: 0px;
  padding:0px;
  background-color: white;
  width: 50%;
  font-size: xx-large;

}
.card{
  margin: 25px;
  padding: 5px;
  width: 400px;
}
.home{
  
  text-align: center;
  font-size: larger;
  font-weight: 900;
  /* padding:150px; */
  /* font-variant: small-caps; */
}
.home {
  position: absolute;
padding-top: 40px;
  bottom: 120px;
  top: 100px;
  right: 20px;
  left: 50px;
  text-align: center;
  font-size:290%;
  font-weight: 900;
  color: white;
  
}

.img{
  width: 100%;
  height: 650px;
  background-size: cover;
background-repeat: no-repeat;
}
.bg{


width: 100vh;
height: 100vh;

}

.child1{
  margin: 0px;
  padding: 0px;
  text-align: center;
  height: 100px;
  width: 300px;
}
.child2{

 border: 10px solid black;
 border-radius: 20px;
 border-color: rgb(92, 43, 226);
 box-sizing: border-box;
 font-size: larger;
 margin-left: 470px;
 padding: 40px;
 width: 600px;
 height: 500px;
 margin-top: 80px;
 text-align: left;
}
.grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100vh;
  height: 100vh;
}
.login-bg{
  display: flex;
  justify-content: center;
  margin-left: -800px;
  
  
}

html {
  height:10%;
}



.bgg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}



body {
	background: #f3e0e2;
	/* display: flex; */
	/* justify-content: center;
	align-items: center;
	flex-direction: column; */
	font-family: 'Montserrat', sans-serif;
	/* height: 100vh; */
	/* margin: -20px 0 50px; */
}

h1 {
	font-weight: bold;
	margin: 0;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

button {
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.container {
  margin-top: 50px;
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
}

.log-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}


.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
}


.overlay {
	background: #FF416C;
	background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
	background: linear-gradient(to right, #FF4B2B, #FF416C);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
}


.overlay-right {
	right: 0;
}


.social-container {
	margin: 50px 0;
}

.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;	
	font-family: Raleway, sans-serif;
}



.containerw {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 500px;
	margin-top: 70px;
	
}

.screen {		
		
	position: relative;	
	height: 600px;
	width: 760px;	
	box-shadow: 0px 0px 24px #5C5696;
}

.screen__content {
	z-index: 1;
	position: relative;	
	height: 100%;
	width: 800px;
}

.screen__background {		
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	-webkit-clip-path: inset(0 0 0 0);
	clip-path: inset(0 0 0 0);	
}

.screen__background__shape {
	transform: rotate(45deg);
	position: absolute;
}

.screen__background__shape1 {
	height: 520px;
	width: 920px;
	background: #FFF;	
	top: -50px;
	right: 120px;	
	border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
	height: 220px;
	width: 220px;
	background: #6C63AC;	
	top: -172px;
	right: 0;	
	border-radius: 32px;
}

.screen__background__shape3 {
	height: 540px;
	width: 190px;
	background: linear-gradient(270deg, #5D54A4, #6A679E);
	top: -24px;
	right: 0;	
	border-radius: 32px;
}

.screen__background__shape4 {
	height: 1000px;
	width: 500px;
	background: #7E7BB9;	
	top: 420px;
	right: 50px;	
	border-radius: 60px;
}

.login2 {
	width: 420px;
	padding: 30px;
	padding-top: 156px;
}

.login__field {
	padding: 20px 0px;	
	position: relative;	
}

.login__icon {
	position: absolute;
	top: 30px;
	color: #7875B5;
}

.login__input {
	border: none;
	border-bottom: 2px solid #D1D1D4;
	background: none;
	padding: 10px;
	padding-left: 24px;
	font-weight: 700;
	width: 95%;
	transition: .2s;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
	outline: none;
	border-bottom-color: #6A679E;
}

.login__submit {
	background: #fff;
	font-size: 14px;
	margin-top: 30px;
	padding: 16px 20px;
	border-radius: 26px;
	border: 1px solid #D4D3E8;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	width: 100%;
	color: #4C489D;
	box-shadow: 0px 2px 2px #5C5696;
	cursor: pointer;
	transition: .2s;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
	border-color: #6A679E;
	outline: none;
}

.button__icon {
	font-size: 24px;
	margin-left: auto;
	color: #7875B5;
}

.social-login {	
	position: absolute;
	height: 140px;
	width: 260px;
	text-align: center;
	bottom: 0px;
	right: 0px;
	color: #fff;
}

.social-icons {
	display: flex;
	align-items: center;
	justify-content: center;
}

.social-login__icon {
	padding: 20px 10px;
	color: #fff;
	text-decoration: none;	
	text-shadow: 0px 0px 8px #7875B5;
}

.social-login__icon:hover {
	transform: scale(1.5);	
}
.containerx{
	display: flex;
	font-weight: 7n00;
	justify-content: center;
	margin: 30px;

}